---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

Q          { quotes: "\201E" "\201D" }
Q:before   { content: open-quote }
Q:after    { content: close-quote }

Q1         { quotes: "\00AB" "\00BB" }
Q1:before  { content: open-quote }
Q1:after   { content: close-quote }


