---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "_centerflex";

/* ========= tables ========== */

/* center table
table { margin-left: auto; margin-right: auto; }
*/

th, td {
    padding: 0.3em 1em;
}

th {  background-color: DarkSlateGray;
      color: white;
      border-radius: 0.5em;
}

td { background-color: SeaShell;
     color: DarkSlateGrey;
     &:first-child, &:nth-child(2) {
          padding: 0.3em 0em;
          text-align: center;
          font-family: Courier,sans-serif;
     }

}


.rcorner {
    float: left;

    border-radius: 25px;

    padding: 20px;
    margin: 5px { right: 10px };

    width: 180px;
    height: 150px;


    box-shadow: 5px 5px 3px #888888;

    text-align: center;

    @include displayCenterFlex;
}

.rcorners1 {
    @extend .rcorner;
    background: #8AC007;
}

.rcorners2 {
    @extend .rcorner;
    border: 2px solid #8AC007;
}

.rcorners3 {
    @extend .rcorner;
    background: url(/img/paper.gif) {
        position: left top;
        background-repeat: repeat;
    }
}

.rcorners-trans {
    @extend .rcorners3;
    border: 1px solid grey;
    box-shadow: 7px 7px 3px #888888;
    //transition: box-shadow 1s, transform 1s;
    transition: all 300ms;

    &:hover {
        box-shadow: 2px 2px 3px #888888;
        transform: translate(5px, 5px);
    } 
}


.shadow {
    box-shadow: 5px 5px 3px #888888;
}

.circular {
    @extend .shadow;

    display: block;
    overflow: hidden;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

.round {
    @extend .circular;

    line-height: 0;
    margin: 0 auto;
    padding: 8px;
    background: #f4f4f4 none repeat scroll 0 0;
}

.clearb {
  clear: both;
}

#id1 { margin-right: 100px };

h1,h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/*
 * backgrounds
 *
 */

#background1 {
    @include displayCenterFlex;

    padding: 4em 6em 8em 4em;
    /*height: 350px; */
    background: url(/img/b2.png), url(/img/b4.png) {
        position: left top, right bottom; 
        /*background-size: 300px 380px; */ 
        repeat: no-repeat, no-repeat;
    }
}

#background2 {
 @include displayCenterFlex;
  width: 300px;
  background: url(/img/web-wood-grey-small.jpg) {
     repeat: no-repeat;
  }
}

#rgbatest {
 @include displayCenterFlex;
  width:150px; /* or whatever width you want. */
  max-width:250px; /* or whatever width you want. */
  padding: 1em;
  color: rgba(255,255,255,.8);
  background-color: rgba(142,213,87,.3);
}
#rgbatest:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(142,213,87,.6);
}

/* gradients
 *
 */

.grbox {
    @include displayCenterFlex;

    float: left;
    margin: 0em 1em 2em 0em;

    height: 200px;
    width: 200px;

    color: white;
}


@mixin gradient($what, $type,$descr...) {
    @each $kit in -webkit- -o- -moz- {
        #{$what}: #{$kit}#{$type}-gradient($descr);
    }
    /* Standard syntax (must be last) */
    #{$what}: #{$type}-gradient($descr);
}

#grad1 { @include gradient(background, linear, left top, red, blue); }
#grad2 { @include gradient(background, linear, red, orange, yellow, green, blue, indigo, violet); }
#grad3 { @include gradient(background, radial, red, green, blue); }

