---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* 
 * http://www.w3schools.com/css/css3_borders.asp
 * =============== CORNERS =================
 */

#rcorners1, #rcorners2, #rcorners3 {
    float: left;

    border-radius: 25px;

    padding: 20px;
    margin: 5px;

    width: 180px;
    height: 150px;


    box-shadow: 5px 5px 3px #888888;

    text-align: center;

    /* http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css */
    display: flex;
    justify-content: center; /* align-horizontal */
    align-items: center;     /* align-vertical */
}

#rcorners1 { background: #8AC007; }
#rcorners2 { border: 2px solid #8AC007; }
#rcorners3 {
        background: url(/img/paper.gif);
        background-position: left top;
        background-repeat: repeat;
}

#clearb {
  clear: both;
}

h1,h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/*
 * backgrounds
 *
 */

#background1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* */
    padding: 4em 6em 8em 4em;
    /*height: 350px; */
    background: url(/img/b2.png), url(/img/b4.png);
    background-position: left top, right bottom; 
    /*background-size: 300px 380px; */ 
    background-repeat: no-repeat, no-repeat;
}


/* gradients
 *
 */

.grbox {
    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
    margin: 0em 1em 2em 0em;

    height: 200px;
    width: 200px;

    color: white;
}

#grad1 {
    background: -webkit-linear-gradient(left top, red , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red , blue); /* Standard syntax (must be last) */
}

#grad2 {
    background: -webkit-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}

#grad3 {
    background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red, green, blue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red, green, blue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(red, green, blue); /* Standard syntax (must be last) */
}

