---
layout: default
regenerate: true
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
           {{ post.date | date: "%b %-d, %Y" }}
           ({{ post.language | capitalize }})
        </span>
        <h2>
          {% assign is_draft = post.path | truncate: 6, "" %}
          {% if is_draft == "_draft" %} {% assign class_post_link = "post-link-draft" %}
          {% else %} {% assign class_post_link = "post-link" %}
          {% endif %}
          <a class="{{ class_post_link }}"
             href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
