
/* 
 * http://www.w3schools.com/css/css3_borders.asp
 * =============== CORNERS =================
 */

@mixin displayCenterFlex {
    /* http://stackoverflow.com/questions/
       8865458/how-to-align-text-vertically-center-in-div-with-css */
    display: flex;
    justify-content: center; /* align-horizontal */
    align-items: center;     /* align-vertical */
}

