
Q       { quotes: "\201E" "\201D" }
Q:before        { content: open-quote }
Q:after         { content: close-quote }

/* cytaty typu << >> (nie w IE) */
Q1      { quotes: "\00AB" "\00BB" }
Q1:before       { content: open-quote }
Q1:after        { content: close-quote }


/* ***** internal ***** */

qq { quotes: "<" ">";
     font-family: Courier,sans-serif;
}

qq:before { content: open-quote }
qq:after  { content: close-quote }


/* ========= tables ========== */

/* center table
table { margin-left: auto; margin-right: auto; }
*/

th, td {
    padding: 0.3em 1em;
}

th {  background-color: DarkSlateGray;
      color: white;
      border-radius: 0.5em; 
}

td { background-color: SeaShell;
     color: DarkSlateGrey;
   }

/* right intent */
td:first-child, td:nth-child(2)  {
  padding: 0.3em 0em;
  text-align: center;
  font-family: Courier,sans-serif;
}

