
Q       { quotes: "\201E" "\201D" }
Q:before        { content: open-quote }
Q:after         { content: close-quote }

/* cytaty typu << >> (nie w IE) */
Q1      { quotes: "\00AB" "\00BB" }
Q1:before       { content: open-quote }
Q1:after        { content: close-quote }


/* ***** internal ***** */

qq { quotes: "<" ">";
     font-family: Courier,sans-serif;
}

qq:before { content: open-quote }
qq:after  { content: close-quote }



